/*General Elements*/

h1,
h2,
p,
a,
input,
button,
textarea {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  color: #32fca7;
}

p {
  color: #fff;
  font-size: 1.46875em;
}

a {
  text-decoration: none;
}

input,
textarea {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 2em;
  font-size: 1em;
  padding: 1em;
  width: 24vw;
  border: none;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 1.5em;
  resize: none;
  margin-bottom: 1.5em;
}

button {
  color: #000;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.8),
    inset 0px -6px 18px rgba(18, 18, 18, 0.25),
    inset 0px -40px 40px rgba(255, 255, 255, 0.2);
  margin: none;
  border: none;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-size: 1.5em;
}

button:hover p {
  color: #32fca7;
}

button:hover .selectIcon svg path {
  fill: #32fca7;
}

button:hover {
  color: #32fca7;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.7),
    inset 0px -6px 18px rgba(18, 18, 18, 0.15),
    inset 0px -40px 40px rgba(255, 255, 255, 0.1);
}

button:active {
  background: rgba(255, 255, 255, 0.5);
}

/*Essential Elements*/

#header {
  box-shadow: 0px 4px 4px 0px #00000040;
}

#siteTitle {
  font-size: 36px;
  float: left;
  padding-left: 2em;
}

#header,
#footer {
  height: 4em;
  width: 100vw;
  background-color: #121212;
}

#bodyWrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mainContent {
  width: 100vw;
  height: 85%;
  display: flex;
}

body,
#siteTitle {
  margin: 0;
  background-color: #121212;
}

#navBar,
#footerIcons {
  display: inline;
  float: right;
  padding-right: 2em;
}

#navBar a:hover svg path,
#navBar a:hover {
  fill: #92fecb;
  color: #92fecb;
}

#footer {
  padding-top: 0.75em;
  background-color: #121212;
  position: static;
}

#navBar a svg,
#footerIcons a svg {
  background-color: none;
  height: 3em;
  width: 3em;
  border: none;
  background: none;
  cursor: pointer;
}

#footerIcons a:hover svg path {
  fill: rgba(205, 205, 205, 0.7);
}

#footerText {
  display: grid;
  place-items: center;
  font-size: 18px;
  margin-right: 3em;
}

#footerIcons > p {
  font-size: 1.2em;
  display: inline;
  margin-right: 3em;
  color: #32fca7;
}

/*UI Elements*/

.glassBox {
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2),
    inset 0px 2px 1px rgba(255, 255, 255, 0.8),
    inset 0px -40px 40px rgba(18, 18, 18, 0.2),
    inset 0px 6px 12px rgba(255, 255, 255, 0.4);
  border-radius: 2em;
  padding: 1vw;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-align: center;
}

/*General CSS*/
#footerIcons a:first-of-type {
  margin-right: 3em;
}

.centerContent,
.halfTheScreen,
.selectIcon {
  display: grid;
  place-items: center;
}

.halfTheScreen {
  width: 50%;
  height: auto;
}

#siteTitle,
#navBar,
#footerText {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: fit-content;
}

@media only screen and (max-width: 599px) {
  #siteTitle {
    padding-left: 0.5em;
  }
  #footerIcons {
    text-align: center;
    width: 100%;
    padding: 0 0 2em;
  }
  #footerIcons p {
    margin: none;
    width: 100%;
    display: block;
  }
  input,
  button,
  textarea,
  #formButton {
    width: 70%;
  }
  #navBar {
    display: none;
  }
  #mainContent {
    display: none;
  }
}
